@import "bourbon", "neat";
@import "bitters/base";

@import "elements/nav3";
//@import "elements/map";
@import "elements/story-page";
@import "elements/blog";
@import "elements/portfolio";
@import "elements/page-styles";
@import "elements/projects";
@import "elements/article";
@import "elements/footer";

 
body {
	width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
}